$Black: #000;
$lightBlack: #111111;
$aliceBlue: #f0f8ff;
$darkClaw: #001a1f;
$darkGreen: #00536b;
$oceanGreen: #00b9a1;
$lightGreen: #c5fb88;

$gradientHover: #00536b, #00b9a1;


@mixin displayNormal{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin displayPersonal($justify-content){
    display: flex;
    align-items: center;
    justify-content: $justify-content;
}

@mixin screen480px{
    @media screen and (max-width: 480px){
        @content;
    }
}