@charset "UTF-8";

@font-face {
    font-family: 'LemonDays';
    src: url("/_Listfont/Lemon\ Days.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    height: 100vh;
    background: linear-gradient(
    90deg, 
    #111111 0%, 
    #0000 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --- CONTAINER DE CIMA --- */
.container{
    border: 2px solid #f0f8ff;
    padding: 30px 20px;
    min-width: 35%;
}

.new-task-container{
    background-color: #f0f8ff;
    padding: 30px 20px;
    border-radius: 15px;
    box-shadow: 0 15px 30px #11111131;
    display: flex;
}

.new-task-container input{
    flex: 3;
    font-size: 1rem;
    border: 2px solid #d1d3d4;
    padding: 12px;
    font-weight: 500;
}

.new-task-container input:focus{
    outline: none;
    border-color: #111111;
}

/* --- CONTAINER DE BAIXO --- */
.tasks-container{
    background-color: #f0f8ff;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 15px 30px #11111131;
}

/* --- BOTÃO --- */
.new-task-button{
    flex: 1;
    border-radius: 5px;
    font-weight: 500;
    height: 100%;
    font-size: 1rem;
    border: none;
    background-color: #111111;
    padding: 12px;
    margin-left: 12px;
    cursor: pointer;
    color: #f0f8ff;
}

.new-task-button:hover{
    background-color: #f0f8ff;
    color: #111111;
    transition: 0.3s ease-in-out;
}

.task-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
    margin-top: 6px;
}

.delete-task-button{
    background-color: #111111;
    color: #f0f8ff;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-task-button:hover{
    background-color: #f0f8ff;
    color: #111111;
    transition: 0.3s ease-in-out;
}

/* --- UTILIDADES DO JS --- */
.error{
    border: 2px solid #ff0000 !important;
}

.error::placeholder{
    color: #ff0000;
}

.completed{
    text-decoration: line-through;
}