div.block-img-section img{
    width: 100%;
}

div.cards-content{
    @include displayPattern;
    .col{
        @include displayPattern;
        div.card.configure-gtr{
            width: 100%;
            .card-header{
                font-weight: bold;
                font-family: 'Nasalization';
            }
            div.card-body{
                background-color: var(--toggle-color);
                h5.card-title{
                    font-size: 1em;
                    opacity: .6;
                    color: #3A383C;
                    @include screen480px{
                        font-size: .9em;
                    }
                }
                padding: 5px 10px;
                p.card-text{
                    font-size: 1em;
                    color: #111111;
                    @include screen480px{
                        font-size: .8em;
                    }
                }
            }
            @include screen480px{
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }
}