/* --- MOBILE ---*/
@media (max-width: 920px){
    h1{
        font-size: 1.5em;
        text-align: center;
    }

    h2{
        font-size: 1.2em;
    }

    .tamaki-photo{
        display: none;
    }

    /* --- NAVBAR ---*/
    .nav-list{
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        backdrop-filter: blur(20px);
        transform: translateX(100%);
        position: absolute;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        transition: 0.3s ease-in-out;
        background: #0000009c;
    }

    .nav-list li{
        opacity: 0;
        margin-left: 0;
    }

    .nav-list.active{
        transform: translateX(0);
    }

    @keyframes navLinkFade{
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0);
        }
    }

    .mobile-menu{
        display: block;
        cursor: pointer;
    }

    .mobile-menu.active .line1{
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .mobile-menu.active .line2{
        opacity: 0;
    }

    .mobile-menu.active .line3{
        transform: rotate(45deg) translate(-5px, -7px);
    }

    .intro-text{
        text-align: center;
    }
    /* --- NAVBAR ---*/

    /* --- CONTEÚDO ---*/
    .container{
        height: 100%;
    }
    .content-container{
        height: 100%;
        padding: 10px;
        margin-top: 5vh;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    /* --- CONTEÚDO ---*/

    /* --- SECTION (PROJETOS) ---*/
    section.content{
        width: 100%;
        height: 122vh;
    }

    .content-container-projects{
        height: 100vh;
        padding: 10px;
        margin-top: 5vh;
        display: inline-block;
        align-content: center;
        justify-content: center;
    }

    .card-container{
        width: 100%;
        height: 25vh;
        margin-bottom: 30px;
    }

    .card-container:last-child{
        margin-bottom: 0;
    }

    .title-card{
        width: 35vh;
    }

    .title-card > p{
        width: 40vh;
        font-size: 20pt;
    }
    /* --- SECTION (PROJETOS) ---*/

    /* --- SECTION (SAIBA MAIS) ---*/
    .content-top h2{
        text-align: center;
    }

    img.wallace{
        z-index: -1;
        position: absolute;
    }

    .content-bottom-left{
        font-size: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content-bottom-right{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    img.badget{
        height: 35px;
        margin-top: 10px;
        cursor: pointer;
    }
    /* --- SECTION (SAIBA MAIS) ---*/

    /* --- FOOTER ---*/
    footer{
        width: 100%;
        height: 25vh;
        font-size: 10pt;
        justify-content: center;
        box-shadow: 0 -20px 50px rgba(0, 0, 0, 0.555);
    }

    footer img{
        width: 80px;
        height: 80px;
    }
    /* --- FOOTER ---*/

}
/* --- MOBILE ---*/