/* --- MOBILE ---*/
@media (max-width: 920px){
    h1{
        font-size: 1.5em;
        text-align: center;
    }

    .tamaki-photo{
        display: none;
    }

    .nav-list{
        top: 13vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        backdrop-filter: blur(20px);
        transform: translateX(100%);
        position: absolute;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        transition: transform 0.3s ease-in-out;
        background: #0000009c;
    }

    .nav-list li{
        opacity: 0;
        margin-left: 0;
    }

    .nav-list.active{
        transform: translateX(0);
    }

    @keyframes navLinkFade{
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0);
        }
    }

    .mobile-menu{
        display: block;
        cursor: pointer;
    }

    .mobile-menu.active .line1{
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .mobile-menu.active .line2{
        opacity: 0;
    }

    .mobile-menu.active .line3{
        transform: rotate(45deg) translate(-5px, -7px);
    }

    .intro-text{
        text-align: center;
    }

    .content{
        width: 100%;
        height: 83vh;
    }

    .content-container{
        height: 60vh;
        padding: 10px;
        margin-top: 1vh;
        display: flex;
        align-content: center;
        justify-content: center;
    }

    footer{
        width: 100%;
        height: 25vh;
        font-size: 10pt;
        justify-content: center;
        box-shadow: 0 -20px 50px rgba(0, 0, 0, 0.555);
    }

    footer img{
        width: 80px;
        height: 80px;
    }

}
/* --- MOBILE ---*/