@charset "UTF-8";

@font-face{
	font-family: 'FontLogo';
	src: url("../_portfontes/RACING HARD.ttf");
}

@font-face{
	font-family: 'FontA';
	src: url("../_portfontes/commando.ttf");
}

@font-face{
    font-family: 'FontH2';
    src: url("../_portfontes/critical-mass-ldr.ttf");
}
/* --- CORES ---*/
:root{
    --corH1: #2b0279;
    --corH2: #4004a1;
    --corLetter: #f0f4f7;
    --corLinkHover: #5d33a0;
}
/* --- CORES ---*/

/* --- NAVBAR ---*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: var(--corLetter);
    font-family: 'Poppins', sans-serif;
}


h1{
    font-size: 25pt;
    color: var(--corH1);
    font-family: 'FontLogo';
}

h2{
    letter-spacing: 5px;
    text-shadow: 1px 5px 0 #1111119a;
    color: var(--corH2);
    font-family: 'FontH2';
}

.mobile-menu{
    display: none;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    margin: 8px;
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.5);
}

nav{
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    backdrop-filter: blur(50px);
    background: rgba(0, 0, 0, 0.5);
}

.nav-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-list li{
    font-size: 15pt;
    margin-left: 32px;
    list-style: none;
}

.nav-list li:first-child{
    margin-left: 0;
}

.nav-list li > a{
    text-decoration: none;
    transition: 0.3s ease-in-out;
    color: #f0f8ff;
    font-family: 'FontA';
}

.nav-list li > a:hover{
    font-size: 20pt;
    transition: 0.3s ease-in-out;
    color: var(--corLinkHover);
}

button{
    padding: 13px;
    margin-left: 10px;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    border: 1px solid #2b0279;
    background: #000000;
}

button:hover{
    transition: 0.3s ease-in-out;
    background: #2b0279;
    border: 1px solid #000000;
}

button > a{
    font-size: 14pt;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    color: #2E3192;
    font-family: 'FontA';
}

button > a:hover{
    letter-spacing: 1px;
    transition: 0.3s ease-in-out;
    color: #f0f8ff;
}
/* --- NAVBAR ---*/

/* --- PORTFÓLIO ---*/
.layer-background{
    width: 100%;
    height: 100vh;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.layer{
    width: 100%;
    height: 100vh;
    display: grid;
    align-content: center;
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.6);
}

.astro{
    margin: auto;
    border-radius: 50%;
    display: flex;
} 

.intro-text{
    font-size: 40pt;
    letter-spacing: 2px;
    display: flex;
    align-content: center;
    justify-content: center;
    animation: float 1.6s ease-in-out infinite;
    text-shadow: -3px -3px 0 #8f00ef, 3px 3px 0 #2E3192;
    color: var(--corLetter);
    font-family: 'FontH2';
}

@keyframes float{
    0%, 100%{
        transform: translateY(-30px);
    } 50% {
        transform: translateY(-100px);
    }
}

.contacts{
    text-align: center;
}

main{
    background-image: linear-gradient(135deg, #000000, #111111, #312f31, #1a0044);
    background-size: 300% 300%;
    animation: gradient 15s ease-in-out infinite;
}

@keyframes gradient{
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
/* --- PORTFÓLIO ---*/

/* --- SECTION (INTRODUÇÃO) ---*/
section.content{
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
}

.container{
    padding: 100px 45px;
}

img.tamaki-photo{
    width: 500px;
    height: 500px;
}

.content-container{
    height: 75vh;
    padding: 10px;
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-container > p{
    font-size: 15pt;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* --- SECTION (INTRODUÇÃO) ---*/

/* --- SECTION (PROJETOS) ---*/
.content-container-projects{
    height: 75vh;
    margin-top: 15vh;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.card-container{
    width: 28%;
    height: 60vh;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    background-color: #00000079;
}

.card{
    width: 96%;
}

.title-card > p{
    padding: 15px;
    font-size: 25pt;
    border-bottom: 1px solid #f0f4f7;
    font-family: 'FontA';
}

.card-content{
    margin-top: 20px;
}
/* --- SECTION (PROJETOS) ---*/

/* --- SECTION (SAIBA MAIS) ---*/
.content-profile{
    width: 100%;
    height: 90%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 0 #00000079;
    background-color: #111111b4;
}

.content-top{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

img.wallace{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.content-bottom {
    width: 100%;
    height: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-bottom-left{
    width: 50%;
    height: 100%;
    font-size: 1.6em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-bottom-left > p{
    font-family: 'FontA';
}

.content-bottom-right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

img.badget{
    height: 50px;
    cursor: pointer;
}

/* --- SECTION (SAIBA MAIS) ---*/

/* --- FOOTER ---*/
footer{
    width: 100%;
    height: 50vh;
    display: flex;
    font-weight: bold;
    align-items: center;
    background-size: cover;
    justify-content: space-around;
    color: var(--corLetter);
    box-shadow: 0 -20px 50px rgba(0, 0, 0, 0.5);
    background-image: url(../_portimagens/footer.jfif);
}
/* --- FOOTER ---*/