@charset "UTF-8";

@font-face{
	font-family: 'FontLogo';
	src: url("../_portfontes/RACING HARD.ttf");
}

@font-face{
	font-family: 'FontA';
	src: url("../_portfontes/commando.ttf");
}

@font-face{
    font-family: 'FontH2';
    src: url("../_portfontes/critical-mass-ldr.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

/* --- CORES ---*/
:root{
    --corH1: #004661;
    --corH2: #03588C;
    --corLetter: #f0f8ff;
    --corLinkHover: #ff0077;
}
/* --- CORES ---*/

/* --- NAVBAR ---*/
h1{
    font-size: 25pt;
    color: var(--corH1);
    font-family: 'FontLogo';
}

.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    margin: 8px;
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.5);
}

nav{
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    backdrop-filter: blur(50px);
    background: rgba(0, 0, 0, 0.5);
}

.nav-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-list li{
    font-size: 15pt;
    margin-left: 32px;
    list-style: none;
}

.nav-list li:first-child{
    margin-left: 0;
}

.nav-list li > a{
    text-decoration: none;
    transition: 0.3s ease-in-out;
    color: #f0f8ff;
    font-family: 'FontA';
}

.nav-list li > a:hover{
    font-size: 23pt;
    transition: 0.3s ease-in-out;
    color: var(--corLinkHover);
}

button{
    padding: 13px;
    margin-left: 10px;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    border: 1px solid #0075a3;
    background: #000000;
}

button:hover{
    transition: 0.3s ease-in-out;
    background: #0075a3;
    border: 1px solid #000000;
}

button > a{
    font-size: 14pt;
    text-decoration: none;
    color: #03588C;
    font-family: 'FontA';
}

button > a:hover{
    letter-spacing: 1px;
    color: #f0f8ff;
    transition: 0.3s ease-in-out;
}
/* --- NAVBAR ---*/

/* --- PORTFÓLIO ---*/
body{
    background-image: linear-gradient(to bottom, #111111, #000000);
}

main{
    width: 100%;
    height: 100vh;
    background-image: url("../_portimagens/main.jpeg");
}

.layer{
    width: 100%;
    height: 100vh;
    display: grid;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.intro-text{
    font-size: 40pt;
    letter-spacing: 2px;
    display: flex;
    align-content: center;
    justify-content: center;
    animation: float 1.6s ease-in-out infinite;
    text-shadow: -3px -3px 0 #00EFE9, 3px 3px 0 #2E3192;
    color: var(--corLetter);
    font-family: 'FontH2';
}

@keyframes float{
    0%, 100%{
        transform: translateY(0);
    } 50% {
        transform: translateY(-50px);
    }
}
/* --- PORTFÓLIO ---*/

/* --- FOOTER ---*/
footer{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--corLetter);
    background: #000000;
}
/* --- FOOTER ---*/

/* --- MOBILE ---*/
@media (max-width: 920px){
    body{
        overflow: hidden;
    }

    h1{
        font-size: 1.5em;
        text-align: center;
    }

    .nav-list{
        top: 12vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        position: absolute;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        backdrop-filter: blur(10px);
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        background: rgba(0, 0, 0, 0.5);
    }

    .nav-list.active{
        transform: translateX(0);
    }

    .nav-list li{
        opacity: 0;
        margin-left: 0;
    }

    @keyframes navLinkFade{
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0);
        }
    }

    .mobile-menu{
        display: block;
    }

    .mobile-menu.active .line1{
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .mobile-menu.active .line2{
        opacity: 0;
    }

    .mobile-menu.active .line3{
        transform: rotate(45deg) translate(-5px, -7px);
    }

    .intro-text{
        text-align: center;
    }

    footer{
        width: 100%;
        height: 25vh;
        justify-content: center;
        box-shadow: 0 -20px 50px rgba(0, 0, 0, 0.555);
    }

    footer img{
        width: 80px;
        height: 80px;
    }

}
/* --- MOBILE ---*/