@charset "UTF-8";
/* Título */
@font-face {
	font-family: 'FontLogo';
	src: url("_blackfontes/SFOuterLimits.ttf");
}
/* Subtítulo */
@font-face {
    font-family: 'SubTitle';
    src: url("_blackfontes/RocketScript.ttf");
}

/* ===== Scrollbar CSS ===== *//* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #1c2935 #000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: #000000;
}

*::-webkit-scrollbar-thumb {
    background-color: #fdfdfd;
    border-radius: 10px;
    border: 3px outset #525353;
}

/* ===== Blog ===== */
body {
    background-color: black;
}

h1 {
    font-family: 'Subtitle', sans-serif;
    font-size: 20pt;
    color: #f0f8ff;
}

header {
    background-image: url("_blackimagens/buraconegro_inter.jfif");
    background-repeat: no-repeat;
    background-position: center left;
    border: 1px solid #020202;
    padding-bottom: 10px;
    padding-right: 490px;
    margin-bottom: 10px;
}

header#cabecalho h1 {
	color: #FFF;
    font-size: 120pt;
    font-weight: bold;
    margin: 12px;
    padding-left: 20px;
    text-shadow: -3px -3px 0px #01c1fc, 3px 3px 0px #ad04fb;
    font-family: 'FontLogo',sans-serif;
}

header#cabecalho h2 {
    font-family: 'SubTitle', sans-serif;
    color: aliceblue;
    padding-left: 20px;
}

/* ===== Section (Corpo do blog) =====*/
div#descricao {
    background-color: #181717;
    border-bottom-right-radius: 20px;
    box-shadow: -1px -1px 0px #01c1fc, 1px 1px 0px #ad04fb;
    display: block;
    width: 1250px;
    height: 410px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 10px;
}
div#descricao h1 {
    padding: 15px;
}

div#descricao img{
    border: 5px dashed;
    float: left;
    border-radius: 10cm;
    margin-right: 5px;
    margin-top: 12px;
}

div#descricao p {
    font-family: Arial Narrow, sans-serif;
    font-size: 13pt;
    color: aliceblue;
    text-align: justify;
}

section p {
    font-family: Arial Narrow, sans-serif;
    font-size: 13pt;
    color: aliceblue;
    padding-top: 5px;
    margin-bottom: 25px;
    text-align: justify;
}

/*---display---*/
section#corpo {
    background-color: #181717;
    border-bottom-right-radius: 20px;
    box-shadow: -1px -1px 0px #01c1fc, 1px 1px 0px #ad04fb;
    display: block;
    float: left;
    width: 550px;
    height: 345px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 10px;
}

/*---display lateral---*/
aside#lateral {
    background-color: #181717;
    border-bottom-right-radius: 20px;
    box-shadow: -1px -1px 0px #01c1fc, 1px 1px 0px #ad04fb;
    display: block;
    float: left;
    width: 685px;
    height: 775px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 10px;
    margin-left: 20px;
}

aside p {
    font-family: Arial Narrow, sans-serif;
    font-size: 13pt;
    color: aliceblue;
    padding-top: 5px;
    margin-bottom: 25px;
    text-align: justify;
}

li {
    color: #f0f8ff;
}

/* ===== Footer (Rodape) =====*/
footer {
    background-image: url("_blackimagens/buraconegro_footer.jfif");
    background-repeat: repeat-x;
    background-attachment: scroll;
    border-top: 1px dashed #f0f8ff;
    padding-bottom: 5px;
    clear: both;
}

footer#base p {
    font-family: Impact, sans-serif;
    color: #f0f8ff;
    text-align: center;
}

a {
    color: #f0f8ff;
    text-shadow: -1px -1px 10px #01c1fc, 1px 1px 10px #ad04fb;
}

a:hover {
	color: rgb(31, 216, 185);
	text-decoration: underline;
    text-shadow: -1px -1px 10px #01c1fc, 1px 1px 10px #ad04fb;
}
